button {
    margin-top:64px;
    height:50px;
    border-radius:8px;
    font-weight: 500;
    background:#835af2;
    color:#Fff;

    display: flex;
    justify-content: center;
    align-items:center;

    padding:0 32px;

        &:disabled{
            opacity: .6;
            cursor:not-allowed;
        }

        &:not(:disabled):hover{
            fil
        }

    cursor:pointer;
    border:0;

    transition: filter .2s;

    img{
        margin-right: 8px;
    }

    &:hover{
        filter:brightness(0.9)
    }
}